.comment-wrapper {
  margin: 10px;
}
.name-of-user {
  font-size: 14px;
  margin: 5px;
}

.head-comment {
  display: flex;
  align-items: center;
}

.title-comment {
  margin: 5px;
  font-size: 14px;
}

.description-comment {
  width: 100%;
}
